{{#each this}}
    <div class="title">
        <img src="{{flags.svg}}" alt="{{name.official}}" width="100px">
        <h2>{{name.official}}</h2>
    </div>
    <div class="description">
        <p>Capital: <span>{{capital}}</span></p>
        <p>Population: <span>{{population}}</span></p>
        <p>Languages: <span>{{languages}}</span></p>
    </div>
{{/each}}
